
.form-check-input{
  margin-top: 10px;
}

.loginform{
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 10px;
  width: 500px;
  text-align: center;
  display: block;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 10px;
}
p {
  color: blue;
}
.flex {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.checkbox {
  width: 15px;
  margin-right: 10px;
}

.text {
  margin-bottom: 0;
  color: rgb(131, 131, 131); /* Remove default bottom margin on the text */
}
.signup {
  color: rgb(217, 78, 208);
  font-weight: bold;
  text-shadow: 2px 2px 2px rgb(184, 184, 184);
  text-align: center;
}
p a {
  color: rgb(116, 116, 116);
}
.body {
  line-height: 40px;
}
.form-label {
  color: rgb(0, 0, 0);
}
.form-error {
  color: rgb(255, 38, 38);
}
.form-submitted {
  color: green;
  font-weight: bold;
}
.form-control {
  width: 350px;
  margin-left: 70px;
}
.submit {
  background-color:white;
  border-radius: 30px;
  width: 300px;
  color: rgb(36, 36, 36);
  align-items: center;
}
/* Media Query for Medium Screens (between 577px and 768px) */
@media (min-width: 200px) and (max-width: 1000px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}
