@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poetsen+One&display=swap');

.navbar {
  background-color: #7B241C;
  position: fixed;
  z-index: 2;
  top: 0;
  display: flex; /* Add flex display */
  align-items: center; /* Center items vertically */
  padding: 0px 0px; /* Add padding for spacing */
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add a box shadow for better visibility */
}

.List {
  display: flex;
  gap: 50px;
  list-style-type: none;
  margin-left: auto; /* Push the list to the right */
}

.List a {
  text-decoration: none;
}

.name{
  margin-left: 20px;

}
.name:hover{
  color: rgb(93, 154, 211);
}
input {
  width: 350px;
  height: 38px;
  border: 0.5px solid black;
  padding: 10px;
  margin-left: 20px;
  border-radius: 50px;
}

.navbar img {
  margin-left:0;
  padding: 0;
}

.button {
  text-transform: uppercase;
  margin-right: 10px;
  color: white;
  font-weight: bold;
  border: none;
}



@media screen and (max-width: 1000px) {
  .navbar {
    background-color: rgb(139, 139, 255);
    font-size: 0.8rem;
    padding: 10px; /* Ensure padding is consistent */
  }

  .search-button {
    background-color: rgb(13, 196, 0);
    width: 80px;
    height: 30px;
    border: none;
    border: 0.5px solid black;
    color: rgb(255, 255, 255);
  }

  .List {
    gap: 0px;
  }

  input {
    border-radius: 50px;
    width: 200px;
    height: 30px;
    border: 0.5px solid black;
    font-size: 0.6rem;
    margin-left: 100px;
  }

  .navbar img {
    border-radius: 30px;
    margin-left: 10px;
  }

  .btn {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    border: none;
    font-size: 0.7rem;
  }

  
}

@media screen and (max-width: 750px) {
  .btn {
    margin-left: 30px;
  }
}