.certificationsform
{
    width: 500px;
    background-color: rgb(90, 171, 191);
    margin-top: 80px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  display: block;
  margin: auto;
  border-radius: 10px;
}
  
.certifications-form-container-custom{
  margin-top: 80px;
}
  .h2-custom {
    text-align: center;
   
    margin-bottom: 40px;
  }
  
  .form-group-custom {
    margin-bottom: 15px;
  }
  
  .label-container {
    display: flex;
    align-items: center;
  }
  
  .label-custom {
    margin-bottom: 5px;
    font-weight: bold;
    margin-right: 10px; /* Add margin to separate label from button */
  }
  
  .certificationsform-button-custom {
    padding: 8px 16px;
    background-color: #557cef; /* Green */
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  .certificationsform-button-submit-custom{
    padding: 8px 16px;
    background-color: #06472f; /* Green */
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .certificationsform-input-custom,
  .textarea-custom {
    width: calc(50% - 5px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
    margin-right: 5px;
  }
  
  .certificationsform-input-custom[type="file"] {
    padding: 5px; /* Slightly smaller padding for file inputs */
  }
  
  .file-input-group-custom {
    margin-bottom: 10px;
    display: flex;
  }
  
  .error-custom {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }