/* Main container for the dashboard */
.main {
  display: flex;
  flex-direction: column;
  padding-top: 5px; /* Adjust this value based on the height of your navbar */
}
/* Body styling to accommodate sidebar and content */
.App-body {
  display: flex;
  flex-grow: 1;
  font-size: 1.3rem;
  height: auto;
}

/* Sidebar styling */
.sidebar {
  width: 200px;
  min-height: 750px;
  padding: 10px;
  font-size: 0.3rem;
  padding-top:70px;
  position: fixed;
  padding-left: 15px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  background-color: #e0e0e0ea;
  height: 100%;

}

/* Sidebar item styling */
.sidebar-item {
  margin: 8px 0;
}

.sidebar-item a {
  color: inherit; /* Inherits the color from the parent */
  text-decoration: none; /* Removes the underline */
  font-size: 18px;
}

.sidebar-item a:hover {
  color:black;
  text-decoration: underline;
}

/* Main content area styling */
.main-content {
  flex-grow: 1;
  padding: 10px;
  margin-top: 10px;
}

/* If you still need grid styles for other parts of the application, keep these. Otherwise, they can be removed */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.grid-item {
  background-color: #e0e0e0;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.grid-item a {
  color: inherit; /* Inherits the color from the parent */
  text-decoration: none; /* Removes the underline */
}
