.promotions-form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px); /* Adjust this value based on your navbar height */
  margin-top: 40px; /* Adjust this value based on your navbar height */
}

.promotions-form-container {
  padding: 30px;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color:  #d4eaf5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.promotions-form-heading {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.promotions-form-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.promotions-form-label {
  margin-right: 10px;
  font-weight: bold;
  color: #333;
}

.promotions-form-select, .promotions-form-input {
  flex: 1;
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.promotions-form-select {
  width: 50%;
  background-color: #f9f9f9;
}

.promotions-form-input {
  width: calc(50% - 10px);
  background-color: #f9f9f9;
  padding: 5px;
}

.promotions-form-select:focus, .promotions-form-input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 3px rgba(0, 123, 255, 0.25);
}

.promotions-form-button {
  padding: 10px 15px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  transition: background-color 0.3s;
}

.promotions-form-button:hover {
  background-color: #0056b3;
}
