.achievementsform
{
  background-color: rgb(90, 171, 191);
  margin-top: 70px;

  display: block;
  margin: auto;
  width:500px;

  padding: 10px;
  border-radius: 10px;
  
  text-align: center;
  
}
.achievements-form-container-custom{
    margin-top: 80px;
}
  .h2-custom {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .form-group-custom {
    margin-bottom: 15px;
  }
  
  .label-container {
    display: flex;
    align-items: center;
  }
  
  .label-custom {
    margin-bottom: 5px;
    font-weight: bold;
    margin-right: 50px; /* Add margin to separate label from button */
  }
  
  .achievementsform-button-custom{
    padding: 8px 16px;
    background-color: #357bc2; /* Green color */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .achievementsform-button-submit-custom {
    padding: 8px 16px;
    background-color: #09583b; /* Green color */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  .achievementsform-input-custom,
  .textarea-custom {
    width: calc(50% - 5px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
    margin-right: 5px;
  }
  
  .achievementsform-input-custom[type="file"] {
    padding: 5px; /* Slightly smaller padding for file inputs */
  }
  
  .file-input-group-custom {
    margin-bottom: 10px;
    display: flex;
  }
  
  .error-custom {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }