.qualification {
    
    display: block;
    margin: auto;
    width: 100%;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  color: black;

  
  } 
.quaheading{
    padding-top: 60px;
    text-align: center;
    color: black;
}
  .form-wrapper {
    /* White background for the form */
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    color: black;
    
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    width:800px;
    background-color: aliceblue;
  }
  
 .qualification h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
   .form-group {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }
  
   .form-group label {
    margin-bottom: 5px;
    
  }
  
   .form-input,
  .form-select
   {
    padding: 8px;
    font-size: 1rem;
    color:black;
    border: 1px solid #000000;
    border-radius: 5px;
  }
  .form-file{
    padding: 8px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    color:black
  }

  .form-input {
    width: 200px;
  }
  
  .form-select {
    width: 220px;
  }
  
  .form-file {
    width: 250px;
  }
  .form-submit {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #3bbc3d;
    color:black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: center; /* Center the submit button */
  }
  .mandatory {
    color: red;
  }
  
  .error-message {
    color: red;
    font-size: 0.875em;
    margin-top: 5px;
  }