.designation-form-container {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Use the full height of the viewport */
  padding: 20px;
}

.designation-form {
  background-color: #f3e6e6;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  text-align: center;
  margin-top: 50px;
}

.designation-form-heading {
  margin-bottom: 20px;
  font-size: 24px;
}

.designation-form-row {
  margin-bottom: 15px;
  text-align: left;
}

.designation-form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.designation-form-input,
.designation-form-select {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s;
}

.designation-form-input:focus,
.designation-form-select:focus {
  border-color: #007bff;
  outline: none;
}

.designation-form-button {
  padding: 10px 15px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s;
  width: 100%;
}

.designation-form-button:hover {
  background-color: #0056b3;
}

.error-border {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
