.home-container {
  position: relative;
  width: 100%;
  height: 100vh;
}
.background {
  background-image: url('https://vnrvjiet.ac.in/assets/images/Numbers-Image.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 120vh;
  width: 100%;
  position: fixed;
}

.welcome-text {
  background-color:white; /* bg-danger class equivalent */
  color: white; /* text-white class equivalent */
  padding: 35px;
  text-align: center;
  position: relative;
  z-index: 1; /* Ensure the text is above the background image */
  margin: 0;
}